<meta http-equiv="Content-Type" content="text/html; charset=ks_c_5601-1987">
<link rel="stylesheet" href="mobizen1.css" type="text/css">

 <table width="100%"  border=0 height="45" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="10%">
			<table border=0>
				<tr>
					<td>
						<img src="/images/ec_top_logo_img.jpg">
					</td>
				</tr>
			</table>
		</td>
		<td width="70%">
			<table border=0>
				<tr>
					<td>
					</td>
				</tr>
			</table>
		</td>
		<td width="20%" align="right" style="padding-top:15px;padding-right:10px;">
			<table border=0>
				<tr>
					<td>
						<a href="logout.asp" target="_top">로그아웃</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>          
